@font-face {
    font-family: "digital";
    src: url(../fonts/DS-DIGI.TTF);
}

.clock-container {
    font-family:digital;
    display: flex;
    background-color:rgba(33,33,33);
    color: chartreuse;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.time{
    font-size:3rem;
}

.date{
    font-size: 4rem;
}